/* components/ReturnBook.css */

.return-book-container {
    margin-top: 20px;
  }
  
  .return-book-container button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  